.background-image {
  background-image: url("image/backgroundhome.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.overlay {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logo-text {
  margin-left: 10px;
}
.cart-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
